:root {
    --bg-color: #ecf0f3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
    font-family: sans-serif;
    outline: none;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: var(--bg-color);
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px white, 5px 5px 12px rgba(0, 0, 0, .16);
    display: grid;
    grid-template-columns: repeat(4, 68px);
}

input {
    grid-column: span 4;
    height: 70px;
    color: rgb(70, 70, 70);
    background-color: var(--bg-color);
    box-shadow: inset -5px -5px 12px white,
        inset 5px 5px 12px rgba(0, 0, 0, .16);
    border: none;
    border-radius: 30px;
    text-align: end;
    width: 260px;
    font-size: 50px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}

button {
    height: 48px;
    width: 48px;
    background-color: var(--bg-color);
    box-shadow: inset -5px -5px 12px white,
        5px 5px 12px rgba(0, 0, 0, .16);
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
}

.qual {
    width: 115px;
    border-radius: 40px;
    background-color: var(--bg-color);
    box-shadow: inset -5px -5px 12px white,
        5px 5px 12px rgba(0, 0, 0, .16);

}


/* ////Theme Changer//// */


/*Create button*/

.toogle {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #e9f5ff;
    border-radius: 50%;
    display: flex;
    justify-self: flex-end;
    align-items: center;
    justify-content: center;
    box-shadow: inset -5px -5px 12px white,
        5px 5px 12px rgba(0, 0, 0, .16);

}

.toogle:before {
    content: "\f186";
    font-family: fontAwesome;
}

/* dark theme styling*/

.container.dark .calculator .toogle:before {
    content: "\f185";
}

.container.dark {
    background-color: black;
    transition: background 0.5s;
}

.container.dark .calculator {
    background-color: #2b2b2b;
    transition: background 0.5s;
    box-shadow: inset 5px 5px 12px rgb(17, 16, 16), 5px 5px 12px rgba(0, 0, 0, .16);

}

.container.dark .calculator button,
.container.dark .calculator .toogle,
.container.dark .calculator input {
    background-color: rgb(16, 17, 19);
    box-shadow: inset -5px -5px 12px black,
        inset 5px 5px 12px rgba(0, 0, 0, .16);
    color: white;

}